In [10]:
import numpy as np
import pandas as pd
import datetime
import time
from pandas.tseries.holiday import USFederalHolidayCalendar
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
import gc
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import matplotlib.pyplot as plt

In [7]:
pwd

'C:\\Users\\Petro Ck\\OneDrive\\Task 2\\_petro'

In [20]:
taxi = pd.read_table("C:/Users/Petro Ck/OneDrive/Task 2/data/taxi_train_4.csv", sep = ",")
taxi_test = pd.read_table("C:/Users/Petro Ck/OneDrive/Task 2/data/taxi_test_4.csv", sep = ",")

In [21]:
gc.collect()

1673

In [22]:
taxi.columns

Index(['INDEX', 'VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'RatecodeID', 'store_and_fwd_flag',
       'dropoff_longitude', 'dropoff_latitude', 'payment_type', 'tolls_amount',
       'improvement_surcharge', 'total_amount', 'trip_duration',
       'average_speed', 'night_trip', 'rush_hour', 'pickup_neighborhood',
       'dropoff_neighborhood', 'Cluster_start', 'Cluster_end', 'Cluster_both'],
      dtype='object')

In [26]:
taxi.describe()

,INDEX,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,tolls_amount,improvement_surcharge,total_amount,trip_duration,average_speed,night_trip,rush_hour,Cluster_start,Cluster_end,Cluster_both
count,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000,10913565.000
mean,5565258.956,1.532,1.659,2.997,-73.973,40.751,1.032,-73.973,40.752,1.347,0.318,0.300,16.414,883.727,11.460,0.343,0.167,3.451,2.725,1.811
std,3213834.860,0.499,1.305,3.593,0.039,0.028,0.237,0.036,0.032,0.491,1.368,0.001,12.892,693.318,6.116,0.475,0.373,2.661,1.195,1.514
min,0.000,1.000,1.000,0.000,-74.511,40.537,1.000,-74.503,40.303,1.000,0.000,0.000,0.300,1.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,2781493.000,1.000,1.000,1.000,-73.992,40.738,1.000,-73.991,40.736,1.000,0.000,0.300,8.800,413.000,7.366,0.000,0.000,2.000,1.000,0.000
50%,5564989.000,2.000,1.000,1.710,-73.982,40.754,1.000,-73.980,40.755,1.000,0.000,0.300,12.300,693.000,10.208,0.000,0.000,3.000,3.000,1.000
75%,8348519.000,2.000,2.000,3.200,-73.967,40.769,1.000,-73.963,40.770,2.000,0.000,0.300,18.360,1136.000,13.968,1.000,0.000,5.000,4.000,3.000
max,11135469.000,2.000,6.000,39.910,-72.839,41.242,5.000,-72.702,41.459,4.000,29.500,0.300,100.000,5400.000,50.000,1.000,1.000,10.000,5.000,6.000

In [29]:
taxi[taxi["RatecodeID"] == 5].describe()

,INDEX,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,tolls_amount,improvement_surcharge,total_amount,trip_duration,average_speed,night_trip,rush_hour,Cluster_start,Cluster_end,Cluster_both
count,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000,18186.000
mean,5584104.627,1.428,1.389,4.051,-73.963,40.745,5.000,-73.977,40.752,1.416,3.068,0.297,45.990,787.529,10.106,0.579,0.108,6.048,3.371,3.523
std,3196483.359,0.495,0.788,6.268,0.081,0.049,0.000,0.108,0.064,0.705,5.096,0.029,30.882,1037.488,12.204,0.494,0.310,3.774,1.617,2.253
min,456.000,1.000,1.000,0.000,-74.446,40.550,5.000,-74.452,40.441,1.000,0.000,0.000,0.300,1.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,2733054.250,1.000,1.000,0.000,-73.998,40.725,5.000,-74.033,40.721,1.000,0.000,0.300,14.150,27.000,0.000,0.000,0.000,3.000,2.000,1.000
50%,5733350.500,1.000,1.000,0.100,-73.984,40.750,5.000,-73.990,40.748,1.000,0.000,0.300,53.300,118.000,4.932,1.000,0.000,6.000,3.000,3.000
75%,8382181.750,2.000,2.000,5.900,-73.954,40.764,5.000,-73.951,40.774,2.000,5.540,0.300,71.150,1390.000,17.837,1.000,0.000,10.000,5.000,6.000
max,11135442.000,2.000,6.000,39.910,-73.118,41.165,5.000,-73.106,41.216,4.000,29.120,0.300,100.000,5400.000,50.000,1.000,1.000,10.000,5.000,6.000

In [18]:
taxi[taxi["passenger_count"] >= 3].describe()

,INDEX,VendorID,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RatecodeID,dropoff_longitude,dropoff_latitude,payment_type,tolls_amount,improvement_surcharge,total_amount,trip_duration,average_speed
count,1609607.000,1609607.000,1609607.000,1609607.000,1609607.000,1609607.000,1609607.000,1609607.000,1609607.000,1609607.000,1609607.000,1609607.000,1609607.000,1609607.000,1609605.000
mean,5555084.980,1.822,4.509,3.153,-73.973,40.751,1.036,-73.973,40.752,1.369,0.370,0.300,16.934,85282.702,inf
std,3204150.637,0.382,1.125,3.807,0.040,0.029,0.243,0.037,0.033,0.489,1.505,0.002,13.913,4121.271,nan
min,6.000,1.000,3.000,0.000,-74.471,40.547,1.000,-74.501,40.212,1.000,0.000,0.000,0.000,0.000,0.000
25%,2725766.000,2.000,3.000,1.070,-73.992,40.737,1.000,-73.991,40.736,1.000,0.000,0.300,8.800,85223.000,0.045
50%,5578300.000,2.000,5.000,1.800,-73.982,40.754,1.000,-73.980,40.755,1.000,0.000,0.300,12.360,85684.000,0.076
75%,8347497.500,2.000,5.000,3.370,-73.967,40.768,1.000,-73.963,40.770,2.000,0.000,0.300,18.800,85972.000,0.143
max,11135457.000,2.000,9.000,70.900,-73.397,41.191,5.000,-72.865,41.459,4.000,23.040,0.300,1211.300,86399.000,inf